/* -----------------------------
   Tailwind & other imports
----------------------------- */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary-50: #e6e8ff;
  --color-primary-100: #c0c4ff;
  --color-primary-200: #9aa0ff;
  --color-primary-300: #747cff;
  --color-primary-400: #4e58ff;
  --color-primary-500: #2c36ff;
  --color-primary-600: #2428cc;
  --color-primary-700: #1d1f99;
  --color-primary-800: #151766;
  --color-primary-900: #0d0e33;

  --color-secondary-50: #faf8f2;
  --color-secondary-100: #f3ead6;
  --color-secondary-200: #e8d6ad;
  --color-secondary-300: #dfbf7c;
  --color-secondary-400: #d8b46a;
  --color-secondary-500: #c9a85f;
  --color-secondary-600: #b79a59;
  --color-secondary-700: #9c7b32;
  --color-secondary-800: #5c4314;
  --color-secondary-900: #221807;

  --color-tertiary-50: #f8f8fa;
  --color-tertiary-100: #f2f2f2;
  --color-tertiary-200: #e6e6e6;
  --color-tertiary-300: #cccccc;
  --color-tertiary-400: #b3b3b3;
  --color-tertiary-500: #999999;
  --color-tertiary-600: #808080;
  --color-tertiary-700: #666666;
  --color-tertiary-800: #333333;
  --color-tertiary-900: #1a1a1a;
}
